/*
  style.css
  Main stylesheet for the Cost Manager application.
  Defines the visual layout, typography, UI components (cards, forms, tables),
  and styling for empty states and responsive design.
*/

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f8fafc;
    color: #111827;
    margin: 0;
}

header {
    background-color: #111827;
    color: white;
    padding: 20px;
    text-align: center;
}

.dashboard {
    max-width: 1000px; /*Possible Change - 65%*/
    margin: 30px auto;
    padding: 0 20px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #f1f5f9;
}

h2 {
    color: #111827;
    margin-top: 0;
    border-bottom: 2px solid #111827;
    display: inline-block;
}

h3 {
    color: #111827;
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: flex-end;
}

input, select {
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    outline: none;
    min-width: 150px;
    flex: 1;
}

input:focus, select:focus {
    border-color: #111827;
}

button {
    background-color: #111827;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;
    flex: 1;
}

button:hover {
    background-color: #374151;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

td, th {
    padding: 12px;
    border-bottom: 1px solid #f1f5f9;
}

th {
    color: #4e5a6c;
    font-weight: 600;
}

.total-sum {
    color: #27ae60;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin-top: 15px;
}

p {
    font-size: 14px;
    color: #4e5a6c;
}

.settings-box {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.chart-box {
    flex: 1;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.canvas-wrapper {
    position: relative;
    height: 300px;
    width: 100%;
}

.charts-row {
    display: flex;
    gap: 20px;
}

.no-costs-message {
    color: #64748b;
    text-align: center;

}

.empty-chart-message {
    text-align: center;
    color: #64748b;
    line-height: 300px;
}

.input-label-box {
    display: flex;
    flex: 1;
    flex-direction: column;
}

label {
    font-size: 13px;
    color: #64748b;
    margin-bottom: 4px;
    margin-left: 10px;
}